body {
    background-color: orange;
}
.container {
    background-color:white ;
    height: 500px;
    width: 700px;
    margin: auto;
    margin-top: 200px;
}

.timer {
    background-color: white;
    height: 60px;
    width: 80px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    float: right ;
    text-align: center;
    font-size: 32px;
    
}

.quizbox {
    background-color: purple;
    height: 340px;
    width: 590px;
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;

}

.startbutton {
    background-color: cyan;
    height:40px;
    width: 75px;
    position: absolute ;
    margin-top: 450px;
    margin-left: 290px;


}

.choice {
    background-color: cyan;
    position:fixed;
    margin-left: 140px ;
    margin-top: 40px;
    height: 30px;
    width: 300px;
    
}

h1 {
    text-align: center;
}